.first {
    height          : 100vh;
    background-color: #263238;
    margin          : 0%;
    text-align      : center;
    display         : table;
    width           : 100%;
}

.text {
    color         : white;
    font-family   : 'Comfortaa';
    display       : table-cell;
    vertical-align: middle;
    font-size     : 6rem;
}